# Copyright (c) 2016, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[mysqld]
max_connections = 3000
max_user_connections = 3000
max_connect_errors = 100000
max_allowed_packet = 1G

sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

##########################
## log slow
###########################
slow_query_log=on
slow_query_log_file=/var/log/mysqld_slow.log
long_query_time=1
log_queries_not_using_indexes=on

##########################
## innodb
###########################
innodb_file_per_table=1
innodb_log_file_size=1024M
innodb_log_buffer_size=64M 

table_open_cache = 8000

#################################################
#mkdir mysql/data && cd mysql 
#copy this file to mysql

#docker run -itd --name mysql \
#-v /root/mysql/data/:/var/lib/mysql \
#-v /root/mysql/my.cnf:/etc/mysql/my.cnf \
#--privileged=true -e MYSQL_ROOT_PASSWORD=test123456 -p 3306:3306 --restart=always mysql:5.7
#
#docker logs $ID
#
#docker exec -it $ID /bin/bash
#update mysql.user set host='%' where user='root'
#FLUSH PRIVILEGES;
#################################################

