<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="liyu.test.security.dao.ModuleMapper">  
    <sql id="tn">security_module</sql>
    <sql id="columns">code,name,pid,url</sql>
        
    <insert id="add">
    	<selectKey resultType="int" order="BEFORE" keyProperty="id">
	      select sqe_security_module.nextval as id from dual
	    </selectKey>
       	insert into <include refid="tn"/> (id,<include refid="columns"/>) values
       	(#{id},#{code},#{name},#{pid},#{url})
    </insert>
 	 	
    <select id="query" resultType="Module">
       	select id,<include refid="columns"/> from <include refid="tn"/>
    </select>
    
    <select id="get" resultType="Module">
    	select id,<include refid="columns"/> from <include refid="tn"/>
    	where id=#{id}
    </select>
</mapper>