<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="liyu.test.springboot_v2.mapper.UserMapper">
    <resultMap type="liyu.test.springboot_v2.model.User" id="User">
    	<association property="role" column="role_id" 
    		select="liyu.test.springboot_v2.mapper.RoleMapper.get">
    	</association>
    </resultMap>
    <select id="get" resultMap="User">
        select * from t_user where id=#{id}
    </select>
    
    <select id="find" resultType="liyu.test.springboot_v2.model.User">
        select * from t_user where id=#{id}
    </select>
    <select id="findList" resultMap="User">
    	select *
    	from t_user <include refid="base.pageSql"/>
    </select>    
    <insert id="insert">
    	insert into t_user (username,password,role_id) values(#{username},#{password},null)
    </insert>
</mapper>