<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="liyu.test.springboot.mapper.contract.ContractMapper">
	<resultMap type="liyu.test.springboot.model.Contract" id="Contract">
		<association property="author" column="author" select="liyu.test.springboot.mapper.user.UserMapper.find"/>
	</resultMap>

    <select id="get" resultMap="Contract">
    	select <include refid="liyu.test.springboot.mapper.BaseSql.contract"/> 
    	from t_contract where id=#{id}
    </select>
</mapper>