<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="demo-provider-JSR" owner="programmer" organization="dubbox"/>
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <dubbo:annotation package="liyu.test.sbdp.service" />

    <dubbo:protocol name="rest" port="8888" threads="500" contextpath="services" server="tomcat" accepts="500"/>

	<dubbo:service interface="org.apache.dubbo.demo.UserService" ref="userService"  protocol="rest" validation="true"/>
	
    <bean id="userService" class="liyu.test.sbdp.service.UserServiceImpl" />
</beans>