<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<form action="/poi/multifileUpload" id="uploadForm" enctype="multipart/form-data" method="post">
       <input id="file" type="file" name="fname"/>
       <input type="submit" name="submit" id="submit" value="upload" />
</form>

<form action="/riskManageWeb/user/download">
	<input id="file" value="Returning Home.mp3" name="filename"/>
    <input type="submit" value="download" />
</form>
</body>
</html>