<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link href="/static/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/static/bootstrap-3.3.7/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
<script th:src="@{/static/js/jquery/jquery.js}"></script>
<meta charset="UTF-8" />
<title>登录</title>
</head>
<body>
	<div class="container">
		<form class="form-signin" action="/login" method="post">
			<h2 class="form-signin-heading">Please sign in</h2>
			<label for="username" class="sr-only">Email address</label>
			<input type="text" name="username" class="form-control" placeholder="username" required="true" autofocus="true"/>
			
			<label for="password" class="sr-only">Password</label>
			<input type="password" name="password" class="form-control" placeholder="password" required="true"/>
			<div class="checkbox">
				<label>
					<input type="checkbox" value="remember-me"/>Remember me
				</label>
			</div>
		</form>
		<button class="btn btn-lg btn-primary btn-block" name="submit">Signin</button>
	</div>
	<script type="text/javascript">//<![CDATA[
		$(function(){
			var username = $('input[name=username]').val();
			var password = $('input[name=password]').val();
			if(username && password){
				
			}else{
				username="user";
				password="123456";
			}
			
			$('button[name=submit]').click(function(){
				$.ajax({
					url:'/login',
					data:{username:username,password:password},
					success:function(ret){
						if(ret.success){
							location.href = "/index";
						}else{
							console.log(ret.msg);
						}
					}
				});
			});
		})
	//]]></script>
</body>
</html>