<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="liyu.test.mybatis.mapper.PersonMapper">
    <resultMap type="liyu.test.mybatis.model.Person" id="BaseResultMap"></resultMap>
    <sql id="cols">
        create_time as createTime,email as email,name as name,telephone as telephone,id as id
    </sql>
    <sql id="whereSql">
        <where>
            <if test="id != null">
                id=#{id}
            </if>
            <if test="createTime != null">
                create_time=#{createTime}
            </if>
            <if test="email != null">
                email=#{email}
            </if>
            <if test="name != null">
                name=#{name}
            </if>
            <if test="telephone != null">
                telephone=#{telephone}
            </if>
        </where>
    </sql>
    <insert id="create">
        insert into t_person(create_time,email,name,telephone) values(#{createTime},#{email},#{name},#{telephone})
    </insert>
    <update id="merge">
        update t_person set create_time=#{createTime},email=#{email},name=#{name},telephone=#{telephone} where id=#{id}
    </update>
    <update id="updateColumn">
        update ${tableName} set ${columnName}=#{value} where id = #{primaryKey}
    </update>
    <delete id="delete">
        delete from t_person where id=#{id}
    </delete>
    <delete id="deleteBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            delete from t_person where id=#{item.id}
        </foreach>
    </delete>
    <select id="findOne" resultMap="BaseResultMap">
        select <include refid="cols"/> from t_person where id=#{id}
    </select>
    <select id="findList" resultMap="BaseResultMap">
        select <include refid="cols"/> from t_person <include refid="whereSql"/>
    </select>
    <select id="findCount" resultType="java.lang.Integer">
        select count(1) from t_person <include refid="whereSql"/>
    </select>
</mapper>