<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="liyu.test.mybatis.mapper.RoleMapper">
    <resultMap type="liyu.test.mybatis.model.Role" id="BaseResultMap"></resultMap>
    <sql id="cols">
        rolename as rolename,id as id
    </sql>
    <sql id="whereSql">
        <where>
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="rolename != null">
                and rolename=#{rolename}
            </if>
        </where>
    </sql>
    <insert id="create">
        insert into t_role(rolename) values(#{rolename})
    </insert>
    <update id="merge">
        update t_role set rolename=#{rolename} where id=#{id}
    </update>
    <update id="updateColumn">
        update ${tableName} set ${columnName}=#{value} where id = #{primaryKey}
    </update>
    <delete id="delete">
        delete from t_role where id=#{id}
    </delete>
    <delete id="deleteBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            delete from t_role where id=#{item.id}
        </foreach>
    </delete>
    <select id="findOne" resultMap="BaseResultMap">
        select <include refid="cols"/> from t_role where id=#{id}
    </select>
    <select id="findList" resultMap="BaseResultMap">
        select <include refid="cols"/> from t_role <include refid="whereSql"/>
    </select>
    <select id="findCount" resultType="java.lang.Integer">
        select count(1) from t_role <include refid="whereSql"/>
    </select>
</mapper>