<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="liyu.test.springboot.mapper.RoleMapper">
    <resultMap type="liyu.test.springboot.model.Role" id="Role">
    	<id property="id" column="id"/>
    	<collection property="users" column="id" ofType="liyu.test.springboot.model.User" 
    		select="liyu.test.springboot.mapper.UserMapper.get">
    	</collection>
    </resultMap>
    <select id="get" resultMap="Role">
        select * from t_role where id=#{id}
    </select>
</mapper>